.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
}

.header h1 {
  font-size: 70px;
  font-weight: 300;
}

.rounde {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-b {
  filter: grayscale(100%);
}

p {
  font-weight: 300;
  font-size: 1.2em;
}

body {
  font-family: Lato, sans-serif;
}

/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

*/
