.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
}

h1 {
  font-size: 70px;
  font-weight: 300;
}

.rounde {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pos-abs {
  position: relative;
  right: 0;
}

.black {
  background-color: black;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: burlywood;
}

.img-b {
  filter: grayscale(100%);
}

p {
  font-weight: 300;
  font-size: 1.2em;
}

body {
  font-family: Lato, sans-serif;
}

.font-beige {
  background-color: antiquewhite;
}

.font-black {
  background-color: black;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.pad {
  padding-top: 70px;
}

.grid div {
  transition: transform 1s;
}

.taille {
  width: 100px;
  height: 100px;
}

.grid div:hover {
  transform: scale(1.1);
}

h2 {
  font-weight: 200;
}

.pad-img {
  padding-top: 35px;
}

i {
  font-size: 50px;
}

h6 {
  font-weight: 300;
}

.beige {
  color: bisque;
}

.fontS {
  font-weight: 200;
}

ul {
  list-style: none;
}

#pate {
  transform: scale(1);
  transition: transform 0.75s
}

#cross {
  transform: scale(0);
  transition: transform 0.75s
}

#hide-menu {
  transform: scaleY(0);
  height: 0;
  transition: transform 0.75s, height 2s;
}

#hide-menu1 {
  transform: scaleY(0);
  height: 0;
  transition: transform 0.5s, height 2s;
}

.some {
  font-weight: 200;
  font-family: "Caveat", cursive;;
}

.nav  h2{
  font-weight: 300;
}
